{% load static %}
{% load bootstrap5 %}
<!--Main Navigation-->
<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
      <div class="container">
        <div class="row gy-3">
          <!-- Left elements -->
          <div class="col-lg-2 col-sm-4 col-4">
            <a href="{% url 'core:index' %}" class="float-start">
              <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="35" />
            </a>
          </div>
          <!-- Left elements -->
  
          <!-- Center elements -->
          <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="d-flex float-end">
            {% if request.user.is_authenticated %}
                  <a href="{% url 'cart:cart' %}" class="border rounded py-1 px-3 nav-link d-flex align-items-center">
                    <i style="color: #3b71ca; font-size: 1.3rem;" class="fas fa-shopping-cart m-1 me-md-2"></i>
                    <!--<p style="color: #3b71ca;" class="d-none d-md-block mb-0">My cart</p>-->
                    <span class=" py-1 px-2" style="background-color: #3b71ca; color: #fff; border-radius: 100%; width: 2rem;;">{% if cart_items %} {{ cart_items }} {% else %} 0 {% endif %}</span>
                </a>
                <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center ms-3" target="_blank">
                    <i style="color: #3b71ca;" class="fas fa-user-alt m-1 me-md-2"></i>
                    <p style="color: #3b71ca;" class="d-none d-md-block mb-0">{{ request.user.username }}</p>
                </a>
            {% else %}
                <a href="{% url 'cart:cart' %}" class="border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
                  <i style="color: #3b71ca; font-size: 1.3rem;" class="fas fa-shopping-cart m-1 me-md-2"></i>
                  <!--<p style="color: #3b71ca;" class="d-none d-md-block mb-0">My cart</p>-->
                  <span class=" py-1 px-2" style="background-color: #3b71ca; color: #fff; border-radius: 100%; width: 2rem;;">0</span>
              </a>
                <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center ms-3" target="_blank">
                    <i style="color: #3b71ca;" class="fas fa-user-alt m-1 me-md-2"></i>
                    <p style="color: #3b71ca;" class="d-none d-md-block mb-0">Sign in</p>
                </a>
            {% endif %}
            </div>
          </div>
          <!-- Center elements -->
  
          <!-- Right elements -->
          <div class="col-lg-5 col-md-12 col-12">
            <div class="input-group float-center">
              <div class="form-outline">
                <input type="search" id="form1" class="form-control" placeholder="Search" />
              </div>
              <button type="button" class="btn btn-primary shadow-0" style="background-color: #3b71ca;">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  
    {% include 'global/partials/nav.html' %}
    <!-- Navbar -->
  </header>